
body{
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }

/*header*/

.header{
    background-color: #2774AE;
    text-align: left;
    position: static;
    width: 100%;
    background-size: cover;
    top: 0;
}

.header-image{
   
}

/*nav-bar*/

.nav-bar-title{
    color:#333;
    text-decoration: none;
    margin: 20px;
    float: left;
    font-size: 3rem;
    margin-top: 0;
    }

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-weight: bolder;
  padding-top: 1.8rem;
  margin-top: 0;
  font-size: 1.2rem;
  
}
.nav-bar li {
  float: right;
}

.nav-bar li a, .dropbutton {
  display: inline-block;
  color: #2774AE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover, .dropdown:hover .dropbutton {
  background-color: #2774AE;
  color: white;
}

.nav-bar li.dropdown {
  display: inline-block;
}

.nav-bar .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-bar .dropdown-content a {
  color: #2774AE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-bar .dropdown-content a:hover {
    background-color: #2774AE;
    color: white}

.nav-bar .dropdown:hover .dropdown-content {
  display: block;
}

.toggle{
  display: none;
}

/*main*/

.main{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  display: grid;
}

.faculty-profile-image{
  text-align: right;
  position: relative;
      }
 
  .faculty-profile-titles{
  text-align: left;
  display: block;
  position: absolute;
  width: 30%;
  top: 18rem;
  background-color: white;
      }
 .faculty-name{
            
  text-align: left;
  background: white;
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
}
            
.specialisation{
            
  text-align: left;
  background: white;
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
 }
.bio{
           
  text-align: left;
  background: white;
  color: black;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bolder;
 }
.text
{
  text-align: left;
  background: white;
  color: black;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5rem;
            }


.general-title{ 
  border-left: 10px solid #FFD100;
  text-indent: 10px;
  text-align: left;
  background: white;
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 30px;
}
            
            
            
.faculty-page-button{  
  border: none;
  color: #005587;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 12px;
  cursor: pointer;
  background-color: #FFD100;
  display: block;
}
            
.faculty-page-button:hover {
   background-color: #2774AE;
  color: #FFFFFF;
}

.publication-container {
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  max-width: 250px;
}

 .publication-container img {
  width: 100%;
  height: auto;
  display: inline-block;
            }

.publication-container .topic-button {
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   background-color: #2774AE;
   color: white;
   font-size: 20px;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
   text-align: left;
   width:100%;
   font-family: "Helvetica", "Arial", sans-serif;
            }

.publication-container .topic-button:hover {
background-color: white;
color:#2774AE;
}
            
            
    
.publication-button{
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  display: inline;
  font-size: 30px;
  cursor: pointer;
  color: #2774AE;
  background-color: white;          
}
        
      
.bio-div
{
display: block;

}

section
{ 
  display: block;
}
.bio-paragraph{ 
  display: flex;
}


.bio-paragraph .left { 
width: 70%;
padding-right: 6rem;
  
}

.bio-paragraph .right { 
  text-align: left;
  background: white;
  color: black;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5rem;
}

.bio-paragraph .right a{ 
 color: inherit;
}

.bio-paragraph .right a:hover{ 
 color: #FFD100;
 font-weight: bolder;
}



/*footer*/

footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #2774AE;
  color: white;
  line-height: 1.5rem;
}

.main-footer{
  display: flex;
}

.main-footer .box{
  flex-basis: 50%;
  padding: 10px 20px;
}

.box-content{
  margin: 20px 0 0 0;
  position: relative;
}

.footer-title{
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: bolder;
}
.footer-bottom{
  margin-top: 2rem;
  display: block;
  text-align: center;
  background-color:  #2774AE;
}

.main-footer li{
    list-style-type: none;
}

.main-footer a{
    color: inherit;
}

.main-footer a:hover{
    color: #FFD100;
    font-weight: bolder;
}
    

/*media queries*/

@media only screen and (max-width: 1000px)
{
    
    /* header*/
    
.header{
    height: 20px;
    top: 0;
} 
.header-image
   {
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
    background-color: white; 
    float: left;
}
    
.nav-bar-title{
    
    float: left;
    margin-top: 3rem;

 } 
.main-footer{
    display:block;
    text-align: center;
 } 

.bio-paragraph{
    display:block;
 } 
    
.nav-bar-element
    {
        display:none;
 } 
.toggle{
    display: block;
    float: right;
 } 
.toggle ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-weight: bolder;
  padding-top: 3rem;
  margin-top: 0;
  font-size: 1.5rem;
  padding-right: 5rem;
  
}
.toggle li {
  float: left;
}

.toggle li a, .dropbutton {
  display: inline-block;
  color: #2774AE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
}

.toggle li a:hover, .dropdown:hover .dropbutton {
  background-color: #2774AE;
  color: white;
}

.toggle li.dropdown {
  display: inline-block;
}

.toggle .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1rem;
  margin-right: 5rem;
}

.toggle .dropdown-content a {
  color: #2774AE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.toggle .dropdown-content a:hover {
    background-color: #2774AE;
    color: white}

.toggle .dropdown:hover .dropdown-content {
  display: block;
}
.toggle .menu-title
{
  padding-left: 1.5rem;
}

}

.general-information {
            margin-top: 3rem;
            align-content: center;
            
            }
        .hover-box {
            width: 333px;
            height: 300px;
            float: left; 
            display: block;
            overflow: hidden;
            position: relative;
            margin: 0 4px 0 0;
            background: white;
            border: 2px solid black;
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            margin-bottom: 3rem;
            background: #2774AE;
            color: white;
            box-shadow: 1px 1px #888888;

            }
        .hidden-content {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            text-align: center;
            margin-top: 60px;
            font-size: 0.84rem;
        }

        .hover-box:hover .left-box1 {
            top: -250px;
            }
        
        .hover-box:hover .middle-box1 {
            top: -250px;
            }
        
        .hover-box:hover .right-box1 {
            top: -250px;
            }
        
        
        .left-box1 {
             width: 333px;
            height: 300px;
            position: absolute;
            display: block;
            -webkit-transition: top .3s ease-in-out;
            margin-bottom: 3rem;
            background: url("Hover-left.png") no-repeat;
            box-shadow: 1px 1px #888888;
            }
        
        .middle-box1 {
             width: 333px;
            height: 300px;
            position: absolute;
            display: block;
            -webkit-transition: top .3s ease-in-out;
            margin-bottom: 3rem;
            background: url("Hover-middle.png") no-repeat;
            box-shadow: 1px 1px #888888;
            }
            
        .right-box1 {
             width: 333px;
            height: 300px;
            position: absolute;
            display: block;
            -webkit-transition: top .3s ease-in-out;
            margin-bottom: 3rem;
            background: url("Hover-right.png") no-repeat;
            box-shadow: 1px 1px #888888;
            }
        
        .team-left-box{
             width: 70%;
             float: left;
            }
        
        .team-right-box{
             width: 25%;
             height: auto;
             float: right;
             background-color: white;
             border: 2px solid black;
             box-shadow: 1px 1px #888888;
            }
        .past-group-member-name
        {
            font-size: 1rem;
            color: #2774AE;
            }
        
        a:hover .past-group-member-name {
    color: #FFD100;
    font-weight: bolder;
}
        .past-group-member
        {
            font-size: 1rem;
            margin-left: 1rem;
            
            }
        
.team-container {
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  max-width: 250px;
}

 .team-container img {
  width: 100%;
  height: auto;
  display: inline-block;
            }

.team-container .pd-button {
   position: absolute;
   top: 82%;
   left: 50%;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   background-color: #FFD100;
   color: #2774AE;
   font-size: 20px;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
   text-align: left;
   width:100%;
   font-family: "Helvetica", "Arial", sans-serif;
            }
        

.team-container .pd-button:hover {
background-color: #2774AE;
color:white;
}
        
.team-container .graduate-button {
   position: absolute;
   top: 82%;
   left: 50%;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   background-color: #2774AE;
   color: white;
   font-size: 20px;
   padding: 5px 5px;
   border: none;
   cursor: pointer;
   text-align: left;
   width:100%;
   font-family: "Helvetica", "Arial", sans-serif;
            }
        

.team-container .graduate-button:hover {
background-color: white;
color:#2774AE;
}
            
            
    
.name-button{
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  display: inline;
  font-size: 20px;
  cursor: pointer;
  color: #2774AE;
  background-color: white;          
}

.wrapper-team
        {
  margin-left: 10%        
}

@media only screen and (max-width: 1000px)
{
    .faculty-profile-image{
        display: block;
        position: relative;
    }
    .faculty-profile-titles{
       display: block;
       position: static;
       width: 100%;
    }
  }

